Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.opensdf
*.ipch
*.sdf
*.ilk
*.log
[Bb]in
[Dd]ebug*/
[Ww]in32*/
*.sbr
obj/
ipch/
[Rr]elease*/
_ReSharper*/
*.vssscc
$tf*/