Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.opensdf
*.ipch
*.sdf
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Ii]pch*/
_ReSharper*/
*.vssscc
$tf*/