Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.opensdf
*.ipch
*.sdf
*.ilk
*.log
*.tlog
*.res
[Bb]in
[Ww]in32*/
[Dd]ebug*/
[Ii]pch*/
*.sbr
obj/
_ReSharper*/
*.vssscc
$tf*/